/*Completos*/
.mas-vistos {
    max-width: 100%;
    height: 65vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../multimedia/FondosSections/FONDO-NARANJA.jpg);
    padding: 0 50px;  
}
/* Fin Completos*/